{% extends "index.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div>
    <div class="text-3xl mt-5 mb-5">List of Charts</div>
    <div class="grid gap-y-10">
        <ul class="p-5 bg-lime-100 w-full text-lime-900 rounded-lg font-mono border-2 border-lime-300">
            <div class="text-xl mb-3 bg-gradient-to-r from-blue-200 to-cyan-200 w-fit px-2 py-0.5 border border-lime-500 rounded-md">Athlete Bio</div>
            {% for value in ab %}
            <li class="ml-10 list-decimal">{{value}}</li>
            {% endfor %}
        </ul>
        <ul class="p-5 bg-lime-100 w-full text-lime-900 rounded-lg font-mono border-2 border-lime-300">
            <div class="text-xl mb-3 bg-gradient-to-r from-blue-200 to-cyan-200 w-fit px-2 py-0.5 border border-lime-500 rounded-md">Athlete Event Result</div>
            {% for value in aer %}
            <li class="ml-10 list-decimal">{{value}}</li>
            {% endfor %}
        </ul>
        <ul class="p-5 bg-lime-100 w-full text-lime-900 rounded-lg font-mono border-2 border-lime-300">
            <div class="text-xl mb-3 bg-gradient-to-r from-blue-200 to-cyan-200 w-fit px-2 py-0.5 border border-lime-500 rounded-md">Games Medal</div>
            {% for value in gm %}
            <li class="ml-10 list-decimal">{{value}}</li>
            {% endfor %}
        </ul>
        <ul class="p-5 bg-lime-100 w-full text-lime-900 rounded-lg font-mono border-2 border-lime-300">
            <div class="text-xl mb-3 bg-gradient-to-r from-blue-200 to-cyan-200 w-fit px-2 py-0.5 border border-lime-500 rounded-md">Games</div>
            {% for value in g %}
            <li class="ml-10 list-decimal">{{value}}</li>
            {% endfor %}
        </ul>
        <ul class="p-5 bg-lime-100 w-full text-lime-900 rounded-lg font-mono border-2 border-lime-300">
            <div class="text-xl mb-3 bg-gradient-to-r from-blue-200 to-cyan-200 w-fit px-2 py-0.5 border border-lime-500 rounded-md">Results</div>
            {% for value in r %}
            <li class="ml-10 list-decimal">{{value}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}