body{
	background-color:#FFDAB9;
							}
i{
   color:#B22222;
   font-family:sans-serif;
						}	
.td{
     border:solid black 2px;
	 background-color:WHITE;
							}							
legend{
	    COLOR:#;
					}
h1 {
		border:1px;
		background-color:#FFFFE0;
		color:#FFD700;
		text-align:center;
	}